    /* Add a black background color to the top navigation */
    
    html {
        box-sizing: border-box;
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        /* set the margin to 0px */
        margin: 0px;
        /* set the padding to 0px */
        padding: 0px;
        /* dont want to have the down scroll bar */
        overflow-x: hidden;
        box-sizing: border-box;
    }
    /* to actually make the navigation stick even when you scroll  */
    
    .read1 {
        position: -webkit-sticky;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 30;
        display: flex;
        padding: 12px 10px;
        justify-content: space-around;
        background-color: #f8bd7f;
        height: 150px;
        align-items: center;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
    
    .logo {
        width: 250px;
        height: auto;
    }
    /* the title */
    
    .read1>a {
        font-family: "Playfair Display", serif;
        font-size: 35px;
        letter-spacing: 0.1rem;
        color: black;
    }
    
    .read_right a {
        margin-right: 20px;
        font-size: 25px;
        color: black;
        transition: all .4s ease-in;
    }
    
    .read_right a:hover {
        text-decoration: underline;
        color: darkgrey;
        letter-spacing: 0.2em;
    }
    /* books and contact links  */
    /* all href links are not set to default */
    
    a {
        text-decoration: none;
        color: inherit;
    }
    /* end of section 1 */
    /* starting of the section 2 css */
    
    .read2 {
        display: flex;
        flex-direction: row;
        padding: 30px;
        justify-content: space-around;
        width: 100%;
        height: 600px;
        background-color: #f5f1da;
    }
    
    hr {
        width: 80%;
        color: #204051;
    }
    
    .read_details {
        /* text css */
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
        font-family: "Playfair Display", serif;
        font-size: 22px;
        letter-spacing: 0.1rem;
    }
    /* Starting of the section 3 */
    
    .read3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        animation-name: example;
        animation-duration: 1.8s;
    }
    /* this is for the view mor books hr styling */
    
    .col-12 {
        width: 96%;
        min-height: 1px;
        margin-right: 2%;
        margin-left: 2%;
        float: left;
    }
    
    .heading {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .ruling {
        width: 100%;
        height: 1px;
        background-color: #204051;
    }
    
    .heading-rule {
        margin-right: 2rem;
        margin-left: 2rem;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    
    h2 {
        display: flex;
        justify-content: space-around;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        font-family: "Playfair Display", serif;
        font-size: 30px;
        color: black;
        line-height: 1.5;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
    
    .rule_heading_inline {
        width: 100%;
        height: 1px;
        background-color: #204051;
    }
    /* End of the horizontal rule styling */
    /* This hold the books  */
    /* The animation entrance */
    
    .middle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #f5f1da;
        padding: 2% 10%;
    }
    
    .paragraph {
        color: black;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.1rem;
    }
    
    .paragraph img {
        margin-top: 3rem;
        height: 290px;
        width: 220px;
    }
    
    @-webkit-keyframes backInUp {
        0% {
            transform: translateY(1200px) scale(0.7);
            opacity: 0.7;
        }
        80% {
            transform: translateY(0px) scale(0.7);
            opacity: 0.7;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    @keyframes backInUp {
        0% {
            transform: translateY(1200px) scale(0.7);
            opacity: 0.7;
        }
        80% {
            transform: translateY(0px) scale(0.7);
            opacity: 0.7;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    #backInUp {
        -webkit-animation: backInUp 1.5s;
        animation: backInUp 1.5s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        width: 100%;
    }
    
    .newsletter {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 150px;
        padding: 0px 20px;
        background-color: #b9ac92;
        justify-content: space-around;
    }
    
    .sub span {
        display: flex;
        flex-direction: row;
        justify-content: space-betwen;
        color: #00416d;
        font: bold 35px "Playfair Display", serif;
    }
    
    .sub {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-betwen;
    }
    
    .join {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .ee {
        width: 260px;
        padding-top: 0.675rem;
        padding-bottom: 0.675rem;
        border: 1px solid #00416d;
        background-color: transparent;
        color: #f2f2f2;
        font-family: "Bitter", serif;
        letter-spacing: 0.1rem;
        font-size: 14px;
        transition: 1s ease-in-out;
        outline: none;
    }
    
    .ee:hover {
        background-color: lavender;
    }
    
    .bb {
        width: 30%;
        padding: 0.675rem 1.5rem;
        border-style: solid;
        border-width: 1px;
        border-color: #00416d;
        background-color: transparent;
        -webkit-transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
        transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
        color: #f2f2f2;
        font-family: "Bitter", serif;
        font-size: 0.675rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        transition: 1s ease-in-out;
    }
    
    .bb:hover {
        background-color: lavender;
    }
    /* starting of the footer section 4 */
    
    .read4 {
        margin-top: -1%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        height: 300px;
        padding: 30px;
        background-color: #00416d;
        font: bold 25px "Playfair Display", serif;
    }
    
    .read4 h1 {
        color: #f5f1da;
        font-family: 17px "Playfair Display", serif;
        margin: 0;
    }
    
    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40%;
        justify-content: space-between;
    }
    
    .footer-left h1 {
        font-size: 25px;
        color: #f5f1da;
    }
    
    .footer-left a {
        color: #fca311;
        text-decoration: none;
    }
    
    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 55%;
        justify-content: space-between;
    }
    
    .footer-right h1 {
        font-size: 25px;
        color: #f5f1da;
    }
    
    .footer-right span {
        color: #fca311;
    }
    
    .footer-right span a {
        font-weight: normal;
        font-size: 17px;
        /* line-height: 12; */
    }
    
    .footer-right a {
        color: #fca311;
        text-decoration: none;
    }
    
    .footer-right span a {
        color: #fca311;
        text-decoration: none;
    }
    
    .footer-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45%;
        justify-content: space-between;
    }
    
    .footer-center span {
        font-size: 25px;
        color: #f5f1da;
    }
    
    .footer-center span a {
        font-weight: normal;
        font-size: 17px;
        /* line-height: 12; */
    }
    
    .footer-center a {
        color: #fca311;
        text-decoration: none;
    }
    
    .footer-center span a {
        color: #fca311;
        text-decoration: none;
    }
    
    .fa {
        height: 20%;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        color: #fca311;
    }
    
    .fa-twitter {
        color: #fca311;
    }
    
    .fa-google {
        color: #fca311;
    }
    
    .last {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
    
    .payment-img {
        display: inherit;
        flex-direction: inherit;
        width: 200px;
        height: 150px;
    }
    
    .section5 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        padding: 30px;
        background-color: #00416d;
    }
    
    .sam {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }
    
    .hr {
        width: 100%;
        height: 1px;
        color: #fca311;
    }
    
    span {
        color: #e9a331;
        font: bold 25px "Playfair Display", serif;
    }
    /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
    
    @media (min-width: 1281px) {}
    /* 
   ##Device = Laptops, Desktops
   ##Screen = B/w 1025px to 1280px
 */
    
    @media (min-width: 1025px) and (max-width: 1280px) {}
    /* 
   ##Device = Tablets, Ipads (portrait)
   ##Screen = B/w 768px to 1024px
 */
    
    @media (min-width: 768px) and (max-width: 1024px) {}
    /* 
   ##Device = Tablets, Ipads (landscape)
   ##Screen = B/w 768px to 1024px
 */
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
    /* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
 */
    
    @media (max-width: 767px) {
        .read1 {
            position: static;
            /* -webkit-mask-position: static; */
            height: 150px;
            padding: 0%;
            box-shadow: 0 4px 6px -1px rgba(8, 8, 8, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
        .read1 {
            flex-direction: column;
            justify-content: center;
        }
        .read1>a {
            color: black;
            font-weight: 800;
            margin-bottom: 20px;
            font-size: 20px;
        }
        .read2 {
            flex-direction: column;
            width: 100%;
            align-items: center;
            height: auto;
            padding: 0;
        }
        .kikuyu {
            width: 100%;
        }
        .read_detail {
            width: 100%;
            font-size: 20px;
            padding: 40px 0;
            text-align: center;
        }
        .read_detail h1 {
            font-size: 20px;
        }
        .read_detail>* {
            line-height: 35px;
            margin: 0;
        }
        .read3 {
            display: flex;
            flex-direction: column;
            height: auto;
            align-items: center;
            padding: 0%;
        }
        .middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .book {
            width: 100%;
            height: 70%;
        }
        .paragraph {
            width: 100%;
            font-size: 20px;
            padding: 40px 0;
            text-align: center;
        }
        .newsletter {
            margin-top: 15%;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 200px;
        }
        .sub span {
            margin-top: -13%;
            display: flex;
            flex-direction: inherit;
            align-items: center;
            color: #00416d;
            font: bold 25px "Playfair Display", serif;
            width: 100%;
        }
        .sub {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50%;
            justify-content: space-betwen;
        }
        .join {
            margin-top: -26%;
            align-items: center;
            width: 60%;
            display: flex;
            height: 100px;
            flex-direction: column;
            justify-content: space-between;
        }
        .ee {
            width: 260px;
            padding-top: 0.675rem;
            padding-bottom: 0.675rem;
            border: 1px solid #fff;
            background-color: transparent;
            color: #00416d;
            font-family: "Bitter", serif;
            letter-spacing: 0.1rem;
            font-size: 14px;
            transition: 1s ease-in-out;
            outline: none;
        }
        .ee:hover {
            background-color: lavender;
        }
        .bb {
            width: 30%;
            padding: 0.675rem 1.5rem;
            border-style: solid;
            border-width: 1px;
            border-color: #f2f2f2;
            background-color: transparent;
            -webkit-transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
            transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
            color: #00416d;
            font-family: "Bitter", serif;
            font-size: 0.675rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            transition: 1s ease-in-out;
        }
        .bb:hover {
            background-color: lavender;
        }
        .read4 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 0%;
            align-items: center;
            justify-content: space-between;
        }
        .read4 h1 {
            align-items: center;
            font-size: 30px;
        }
        .footer-center {
            height: 50%;
            justify-content: space-between;
            align-items: center;
        }
        .footer-left i {
            align-items: center;
        }
        .footer-left {
            height: 50%;
            justify-content: space-between;
            align-items: center;
        }
        .footer-right {
            height: 50%;
            justify-content: space-between;
            align-items: center;
        }
        .bb {
            align-items: center;
        }
        .ee {
            width: 275px;
        }
        .ee:hover {
            background-color: black;
        }
        .bb {
            -webkit-appearance: button;
            width: 120px;
        }
        .bb:hover {
            background-color: #e7dfd5;
        }
        .last {
            height: 50%;
            justify-content: space-between;
            align-items: center;
        }
        hr {
            width: 100%;
            background-color: #fca311;
        }
        .read5 {
            height: 50%;
            justify-content: space-between;
            align-items: center;
        }
    }