c/* Add a black background color to the top navigation */
html {
   box-sizing: border-box;
}
body {
   /* set the margin to 0px */
   margin: 0px;
   /* set the padding to 0px */
   padding: 0px;
   /* dont want to have the down scroll bar */
   overflow-x: hidden;
   box-sizing: border-box;
}

/* to actually make the navigation stick even when you scroll  */
.section1 {
   position: -webkit-sticky;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 30;
   display: flex;
   padding: 10px 20px;
   justify-content: space-around;
   background-color: #f8bd7f;
   height: 120px;
   align-items: center;
   box-shadow: 0 4px 6px -1px rgba(8, 8, 8, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo{
   width:250px;
  height: 90px;
}

/* the title */
.section1 > a {
   font-family: "Playfair Display", serif;
   font-size: 35px;
   letter-spacing: 0.1rem;
   color: black;
}

.title-right a {
   margin-right: 20px;
   font-size: 25px;
   color: black;
   transition: all 0.4s ease-in;
}
.title-right a:hover {
   text-decoration: underline;
   color: darkgrey;
   letter-spacing: 0.2em;
   
}

/* books and contact links  */

/* all href links are not set to default */
a {
   text-decoration: none;
   color: inherit;
}
/* end of section 1 */

/* starting of the section 2 css */
.section2 {
   margin-top:9%;
   display: flex;
   flex-direction: row;
   padding: 30px;
   justify-content: space-around;
   width: 100%;
   height: 700px;
   background-color: #f5f1da;
}
/* text css */
.info {
   display: inherit;
   flex-direction: column;
   align-items: center;
   width: 60%;
   color: #000000;
   font-family: "Playfair Display", serif;
   font-size: 22px;
   letter-spacing: 0.1rem;
}
/* the image */
.kikuyu {
   height: 650px;
   width: 30%;
   display: inherit;
   flex-direction: inherit;
   justify-content: right;
}
.kikuyu > img {
   max-width: 100%;
   object-fit: cover;
}

/* the aniamtion used for the etrance */
.animated {
   display: flex;
   flex-direction: row;
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
}

@-webkit-keyframes bounceInLeft {
   0% {
      opacity: 0;
      -webkit-transform: translateX(-2000px);
   }

   60% {
      opacity: 1;
      -webkit-transform: translateX(30px);
   }

   80% {
      -webkit-transform: translateX(-10px);
   }

   100% {
      -webkit-transform: translateX(0);
   }
}

@keyframes bounceInLeft {
   0% {
      opacity: 0;
      transform: translateX(-2000px);
   }

   60% {
      opacity: 1;
      transform: translateX(30px);
   }

   80% {
      transform: translateX(-10px);
   }

   100% {
      transform: translateX(0);
   }
}

.bounceInLeft {
   -webkit-animation-name: bounceInLeft;
   animation-name: bounceInLeft;
}
/* button */
.web {
   border-radius: 20px;
   -webkit-appearance: button;
   width: 200px;
   padding: 10px 10px;
   border-style: solid;
   border-width: 1px;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   border-color: #fca311;
   background-color: #fca311;
   -webkit-transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
   color: #204051;
   font-family: "Playfair Display", serif;
   font-size: 20px;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   transition: 0.5s ease-in-out;
   outline: none;
}
/* button on hover */
.web:hover {
   background-color: #f5f1da;
   outline: none;
   transform: scale(1.1);
}
/* end of the section 2 css */

/* Starting of the section 3 */
.section3 {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   width: 100%;
   height: 680px;
}

/* this is for the view mor books hr styling */
.col-12 {
   width: 96%;
   min-height: 1px;
   margin-right: 2%;
   margin-left: 2%;
   float: left;
}

.heading {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.ruling {
   width: 100%;
   height: 1px;
   background-color: #204051;
}

.heading-rule {
   margin-right: 2rem;
   margin-left: 2rem;
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 auto;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
}

h2 {
   display: flex;
   justify-content: space-around;
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   font-family: "Playfair Display", serif;
   font-size: 30px;
   color: black;
   line-height: 1.5;
   font-weight: 400;
   text-align: center;
   letter-spacing: 0.05rem;
   text-transform: uppercase;
}

.rule_heading_inline {
   width: 100%;
   height: 1px;
   background-color: #204051;
}
/* End of the horizontal rule styling */

/* This hold the books  */
.middle {
   display: flex;
   flex-direction: row;
   margin-bottom: 20px;
   padding-top: 50px;
   padding-left: 50px;
   padding-right: 50px;
   padding-bottom: 50px;
   justify-content: center;
   animation-name: example;
   background-color: #f5f1da;
   animation-duration: 1.8s;
   justify-content: space-around;
}

/* The animation entrance */
@-webkit-keyframes backInUp {
   0% {
      transform: translateY(1200px) scale(0.7);
      opacity: 0.7;
   }

   80% {
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

@keyframes backInUp {
   0% {
      transform: translateY(1200px) scale(0.7);
      opacity: 0.7;
   }

   80% {
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

#backInUp {
   -webkit-animation: backInUp 1.5s;
   animation: backInUp 1.5s;
   -webkit-animation-timing-function: ease-out;
   animation-timing-function: ease-out;
   width: 100%;
}

.paragraph {
   color: black;
   font-family: "Playfair Display", serif;
   font-weight: bold;
   font-size: 20px;
   letter-spacing: 0.1rem;
}

.websa {
   margin-left: 585px;
   margin-right: 650px;
   -webkit-appearance: button;
   width: 22%;
   margin-bottom: 1.25rem;
   padding: 0.675rem 1.5rem;
   border-radius: 20px;
   border-style: solid;
   border-width: 1px;
   border-color: #fca311;
   background-color: #fca311;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   -webkit-transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
   transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
   color: #204051;
   font-family: "Playfair Display", serif;
   font-size: 20px;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   transition: 0.5s ease-in-out;
   outline: none;
}

.websa:hover {
   background-color: #f5f1da;
   outline: none;
   transform: scale(1.1);
}
/* end of section 3 */

.newsletter {
   margin-top: -5%;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: 150px;
   background-color: #b9ac92;
   justify-content: space-around;
}
.sub span{
   display: flex;
   flex-direction: row;
   justify-content: space-betwen;
   width: 50%;
   color:#00416d;
   font: bold 35px "Playfair Display", serif;
}
.sub {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-betwen;
}

.join{
   width: 60%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.ee {
   width: 260px;
   padding-top: 0.675rem;
   padding-bottom: 0.675rem;
   border: 1px solid #fff;
   background-color: transparent;
   color: #00416d;
   font-family: "Bitter", serif;
   letter-spacing: 0.1rem;
   font-size: 14px;
   transition: 1s ease-in-out;
   outline: none;
}

.ee:hover {
   background-color: lavender;
}

.bb {
   width: 30%;
   padding: 0.675rem 1.5rem;
   border-style: solid;
   border-width: 1px;
   border-color: #f2f2f2;
   background-color: transparent;
   -webkit-transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
   transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
   color: #00416d;
   font-family: "Bitter", serif;
   font-size: 0.675rem;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   transition: 1s ease-in-out;
}

.bb:hover {
   background-color: lavender;
}



/* starting of the footer section 4 */
.section4 {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-around;
   width: 100%;
   height: 300px;
   padding: 30px;
   background-color: #00416d;
   font: bold 25px "Playfair Display", serif;
}
.section4 h1 {
   color: #f5f1da;
   font-family: 17px "Playfair Display", serif;
   margin: 0;
}

.footer-left {
   display: flex;
   flex-direction: column;
  
   align-items: center;
   height: 40%;
   justify-content: space-between;
}
.footer-left h1 {
   font-size:25px;
   color: #f5f1da;
}
.footer-left a {
   color: #fca311;
   text-decoration: none;
}

.footer-right {
   display: flex;
   flex-direction: column;
   
   align-items: center;
   height: 55%;
   justify-content: space-between;
}

.footer-right h1 {
   font-size: 25px;
   color: #f5f1da;
}

.footer-right span {
   color: #fca311;
}

.footer-right span a {
   font-weight: normal;
   font-size: 17px;
   /* line-height: 12; */
}
.footer-right a {
   color: #fca311;
   text-decoration: none;
}
.footer-right span a {
   color: #fca311;
   text-decoration: none;
}
.footer-center{
   display: flex;
   flex-direction: column;
   
   align-items: center;
   height: 45%;
   justify-content: space-between;
}

.footer-center span {
   font-size: 25px;
   color: #f5f1da;
}

.footer-center span a {
   font-weight: normal;
   font-size: 17px;
   /* line-height: 12; */
}
.footer-center a {
   color: #fca311;
   text-decoration: none;
}
.footer-center span a {
   color: #fca311;
   text-decoration: none;
}
.fa {
   height: 20%;
   font-size: 30px;
   text-align: center;
   text-decoration: none;
 }
 
 .fa:hover {
     opacity: 0.7;
 }
 
 .fa-facebook {
  
   color:#fca311;
 }
 
 .fa-twitter {
  
   color: #fca311;
 }
 
 .fa-google {
  
   color: #fca311;
 }
 .last {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
   justify-content: space-between;
}

.payment-img{
   display: inherit;
   flex-direction: inherit;
   width: 200px;
   height:150px;
}

 

.section5{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-around;
   width: 100%;
   padding: 30px;
   background-color: #00416d;
  
}

.sam{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   width: 100%;
}

 .hr{
    width: 100%;
    height: 1px;
    color: #fca311;
 }
 
 
span{
   color:#e9a331;
   font: bold 25px "Playfair Display", serif;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
   ##Device = Laptops, Desktops
   ##Screen = B/w 1025px to 1280px
 */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
   ##Device = Tablets, Ipads (portrait)
   ##Screen = B/w 768px to 1024px
 */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
   ##Device = Tablets, Ipads (landscape)
   ##Screen = B/w 768px to 1024px
 */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
 */

@media (max-width: 767px) {
   .section1 {
      position: static;
      /* -webkit-mask-position: static; */
      height: 200px;
      width: 100%;
      padding: 0%;
   }
   .section1 {
      flex-direction: column;
      justify-content: center;
   }
   .logo{
      width:200px;
      height: 100px;
   }
   .section1 > a {
      color: black;
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 20px;
   }

   .section2 {
      flex-direction: column-reverse;
      width: 100%;
      align-items: center;
      height: auto;
      margin-top: 30px;
      padding: 0;
   }
   .kikuyu {
      width: 100%;
   }

   .info {
      width: 100%;
      font-size: 20px;
      padding: 40px 0;
      text-align: center;
   }
   .info h1 {
      font-size: 20px;
   }
   .info > * {
      line-height: 35px;
      margin: 0;
   }
   .section3 {
      display: flex;
      flex-direction: column;
      height: auto;
      align-items: center;
      padding: 0%;
   }
   .middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }
   .book {
      align-items: center;
      width: 100%;
      height: 70%;
   }
   .paragraph {
      width: 100%;
      font-size: 25px;
      padding: 40px 0;
      text-align: center;
   }
   .websa {
      margin: 0%;
      padding: 0%;
      align-items: center;
      width: 90%;
   }
   .newsletter{
      margin-top:15%;
      display:flex;
      align-items: center;
      flex-direction: column;
      height: 150px;
   }
   .sub span{
      color:#00416d;
      font: bold 25px "Playfair Display", serif;
      width: 100%;
   }
   .sub {
      display: flex;
      flex-direction: row;
      width: 100%;
      height:50%;
      justify-content: space-around;
   }
   
   .join{
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .ee {
      width: 260px;
      padding-top: 0.675rem;
      padding-bottom: 0.675rem;
      border: 1px solid #fff;
      background-color: transparent;
      color: #00416d;
      font-family: "Bitter", serif;
      letter-spacing: 0.1rem;
      font-size: 14px;
      transition: 1s ease-in-out;
      outline: none;
   }
   
   .ee:hover {
      background-color: lavender;
   }
   
   .bb {
      width: 30%;
      padding: 0.675rem 1.5rem;
      border-style: solid;
      border-width: 1px;
      border-color: #f2f2f2;
      background-color: transparent;
      -webkit-transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
      transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
      color: #00416d;
      font-family: "Bitter", serif;
      font-size: 0.675rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      transition: 1s ease-in-out;
   }
   
   .bb:hover {
      background-color: lavender;
   }
   
   .section4 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 60%;
      align-items: center;
      
      padding: 0%;
   }
   

   .footer-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 60%;
   }

   .footer-center{
      display: flex;
      flex-direction: column;
      
      align-items: center;
      height: 45%;
      justify-content: space-between;
   }
   
   .footer-right{
      display: flex;
   flex-direction: column;
   align-items: center;
   height: 55%;
   justify-content: space-between;
}
   
   .last{
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: space-between;
      align-items: center;
   }
   
   .ee {
      width: 275px;
   }

   .ee:hover {
      background-color: black;
   }

   .bb {
      -webkit-appearance: button;
      width: 120px;
   }

   .bb:hover {
      background-color: #e7dfd5;
   }
   .hr{
      width: 100%;
    height: 1px;
    color: #fca311;
   }
   .section5{
      display:flex;
      flex-direction: column;
      
      height:50%;
      justify-content: space-between;
      align-items: center;
   }
   
   .fa {
      height: 20%;
      font-size: 30px;
      text-align: center;
      text-decoration: none;
    }
    
    
   
}
