body {
    margin: 0;
    padding: 0;
    font-family: san-serif;
    background-color: #f5f1da;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8bd7f;
    border-radius: 5%;
    box-shadow: 0 4px 6px -1px rgba(8, 8, 8, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.box h1 {
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
}

.box p {
    text-align: center;
    color: #000000;
    font-weight: 150;
    font-family: 'Playfair Display', serif;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #000000;
    /* border-radius: 24px; */
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #000000;
}


/* .box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 40px;
    outline: none;
    color: #000000;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #fca311;
} */

.box input[type="submit"] {
    margin-left: 17%;
    -webkit-appearance: button;
    width: 200px;
    padding: 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-color: #fca311;
    background-color: #fca311;
    -webkit-transition: color 300ms ease, border-color 300ms ease, background-color 300ms ease;
    color: #204051;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    outline: none;
}


/* button on hover */

.box input[type="submit"]:hover {
    background-color: #f5f1da;
    outline: none;
    transform: scale(1.1);
}