body {
    margin: 0;
    padding: 0;
    font-family: san-serif;
    background-color: #f8bd7f;
}

.box {
    width: 450px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f1da;
}

.box h1 {
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
}

.box p {
    color: #000000;
    font-weight: 140;
    font-family: 'Playfair Display', serif;
}

.box label {
    color: #000000;
    font-family: 'Playfair Display', serif;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: black;
}

.box button {
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    border-color: #fca311;
    background-color: #fca311;
    color: #204051;
    transition: 0.25s;
    cursor: pointer;
}

.box button:hover {
    background: #fca311;
}

box button:hover {
    background: #fca311;
}